{
    "version": 1,
    "db_id": 149603,
    "platform": "chatgpt",
    "email": "222",
    "password": "c#ss!c8dLkgNlX",
    "login_identity": "ngoc.ss@outlook.com",
    "phone": "+ss",
    "access_token": "1222",
    "refresh_token": "sss",
    "id_token": "222",
    "session_token": "",
    "client_id": "xx",
    "chatgpt_account_id": "a17f02e7-589e-412d-a7f5-0102b99289da",
    "chatgpt_user_id": "user-S5YPpfMyQD2M2D1xBykhBoV6",
    "organization_id": "org-ss",
    "project_id": "a17f02e7-ss-412d-a7f5-0102b99289da",
    "workspace_id": "a17f02e7-sss-412d-a7f5-0102b99289da",
    "created_at": 1779014901,
    "last_used": 1779014901,
    "status": "registered",
    "source": "register",
    "account_claims_email": "ngoc.sss@outlook.com",
    "mailbox": {
        "provider": "microsoft",
        "email": "ngoc.ss@outlook.com",
        "password": "",
        "client_id": "",
        "refresh_token": "",
        "account_type": "mailapi_url",
        "mailapi_url": "http://ms.sss.cc/api/open/email/latest?api_key=ssss&pt=_0UTYc&email=ngoc.ss@outlook.com",
        "enabled": false,
        "source": "outlook_accounts"
    },
    "mailbox_connection": "",
    "mailbox_url": "http://ms.ss.cc/api/open/email/latest?api_key=ss&pt=_0UTYc&email=ngoc.ss@outlook.com"
}
{
    "version": 1,
    "db_id": 149603,
    "platform": "chatgpt",
    "email": "222",
    "password": "c#ss!c8dLkgNlX",
    "login_identity": "ngoc.ss@outlook.com",
    "phone": "+ss",
    "access_token": "1222",
    "refresh_token": "sss",
    "id_token": "222",
    "session_token": "",
    "client_id": "xx",
    "chatgpt_account_id": "a17f02e7-589e-412d-a7f5-0102b99289da",
    "chatgpt_user_id": "user-S5YPpfMyQD2M2D1xBykhBoV6",
    "organization_id": "org-ss",
    "project_id": "a17f02e7-ss-412d-a7f5-0102b99289da",
    "workspace_id": "a17f02e7-sss-412d-a7f5-0102b99289da",
    "created_at": 1779014901,
    "last_used": 1779014901,
    "status": "registered",
    "source": "register",
    "account_claims_email": "ngoc.sss@outlook.com",
    "mailbox": {
        "provider": "microsoft",
        "email": "ngoc.ss@outlook.com",
        "password": "",
        "client_id": "",
        "refresh_token": "",
        "account_type": "mailapi_url",
        "mailapi_url": "http://ms.sss.cc/api/open/email/latest?api_key=ssss&pt=_0UTYc&email=ngoc.ss@outlook.com",
        "enabled": false,
        "source": "outlook_accounts"
    },
    "mailbox_connection": "",
    "mailbox_url": "http://ms.ss.cc/api/open/email/latest?api_key=ss&pt=_0UTYc&email=ngoc.ss@outlook.com"
}